.topnav {
    overflow: hidden;
    background-color: #333;
    height: 6vh !important
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .logout {
    margin-left: 90% !important;
    padding-bottom: 2%;
    color:#ffff;
    
  }
  
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
